*{margin: 0 0 0 0;
    border:none
display: flex;}

@media screen and (max-width:768px){
.main{
width:100;
flex-direction: column;}

}


#submit{
    border-radius: 50px;
    background-color: rgb(43, 164, 16);
    border-bottom: black;
    color:antiquewhite;
    border: solid 2px rgb(18, 135, 30);
}

#refazer{
border-radius: 50px;
background-color: rgb(183, 69, 69);
border-bottom: black;
color:antiquewhite;
border: solid 2px rgb(71, 9, 9);
}

#main{
    background-color:whitesmoke;
    width: 100%;
    height: 900px;;
}
#calculadora{
    padding-top: 50px;
    background-color:#FFEBCD;
    border: solid bisque 2px;
    border-radius:20px;
    width:400px;
    height:200px;
    margin:auto;
    text-align:center-left;
    font-family: 'Courier New', Courier, monospace;
}
#altura{ 
    width:100px;
   
}
#peso{ 
  width:100px;
   
}
#imc{
    width: 30px;
}
#animacao{
    width:200px;
    height: 130px;
    border:none;
    float:right;
    margin; 10 10 0 0;
    border-radius: 60px;
    paddin-left: 10px;
    text-align:center;
    background-color:#FFEBCD;
    font-size:8px;

}
#table{

    width:24%;
    background-color:LightGoldenrodYellow;
    height: 130px;
    float:right;
    color:whitesmoke;
    text-align:center;
    border: solid blanchedalmond 1px;
    margin: 10 2 0 0;
    border-radius: 10%;
    table-layout: auto;
   #tabizinha{
    width: 100%;
    font-size:12px;
    border: none;
    border-radius: 10px;
    margin: 13 20 0 0;
    background-color:bisque;
    #linha1{
        background-color: whitesmoke;
    
} 

#linha2
{
    background-color: whitesmoke;
}
#linha3
{
    background-color: whitesmoke;
}
#linha4
{
    background-color: whitesmoke;
}
#linha5
{
    background-color: whitesmoke;
}
   }
}

#rodape{
color: gray;
text-align: center;

}
