* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex: 1;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#calculadora {
  background-color: #ffeecd;
  border: solid bisque 2px;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
  padding: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#altura,
#peso,
#imc {
  width: 100px;
  max-width: 90%;
  margin-bottom: 10px;
}

#submit,
#refazer {
  border-radius: 50px;
  background-color: rgb(43, 164, 16);
  border-bottom: black;
  color: antiquewhite;
  border: solid 2px rgb(18, 135, 30);
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

#refazer {
  background-color: rgb(183, 69, 69);
  border: solid 2px rgb(71, 9, 9);
}

#animacao {
  width: 200px;
  height: 130px;
  border: none;
  border-radius: 60px;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  background-color: #ffeecd;
  font-size: 8px;
}

#table {
  width: 13%;
  max-width: 400px;
  background-color: LightGoldenrodYellow;
  margin: 10px;
  color: whitesmoke;
  text-align: center;
  border: solid blanchedalmond 1px;
  border-radius: 10%;
  float:right;
}

#tabizinha {
  width: 100%;
  font-size: 12px;
  border: none;
  border-radius: 10px;
  margin: 13px 20px;
  background-color: bisque;
}

#tabizinha tr {
  background-color: whitesmoke;
}

#rodape {
  color: gray;
  text-align: center;
  margin-top: auto;
}
@media screen and (max-width: 768px) {
  #calculadora {
    width: 90%;
  }
  #table {
    max-width: 90%;
  }
  #animacao
